@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); /* Font for header links */
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap'); /* Font for logo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); /* Font for paragraphs */

html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}

body {
	background: #242582;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

p1 {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 70px;
	width: 100vw;
	display: flex;
	background: rgba(0, 0, 0, 0.8);
	justify-content: space-between;
	padding: 0 60px;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
}

.navbar h1 {
	color: #fff;
	font-family: 'Pushster', cursive;
	font-size: 30px;
}

.nav-links {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: #f64c72;
	padding: 0 20px;
	transition: all 0.3s ease 0s;
}

.navbar a:hover {
	transform: scale(1.2);
}

.underline {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.underline:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background: #fff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.about-me {
	padding: 70px 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-me-content {
	width: 30vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-me-content img {
	border-radius: 50%;
	border: 4px solid #99738e;
}

.me-desc {
	width: 15vw;
	color: #fff;
}

.my-projects {
	background: #fff;
	height: 100vh;
}

.contact-me {
	background: #99738e;
	height: 100vh;
}
