@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-between;
	font-family: 'PT Sans', sans-serif;
}

.navbar a {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}
